/* Styling for big screens: Laptops and Desktops */
@media only screen and (min-width: 993px){
    .smallNavbar{
        display: none;
    }

    .sNBhamBurger{
        display: none;
    }

    .navBar{
        width: 100%;
        background-color: rgba(226, 226, 226);
        padding: 1.5% 2%;
        position: fixed;
        top: 0;
        z-index: 100;
        display: grid;
        grid-template-columns: 1fr 9fr;
    }

    .logo span{
        font-size: 1.5em;
        font-weight: bold;
    }

    .largeNavBar{
        display: grid;
        grid-template-columns: 9fr 2fr;
    }

    .largeTabsList{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .navTabLink{
        width: fit-content;
        list-style: none;
        margin: 0 3%;
    }

    .navTabLink a{
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        font-family: 'Nunito', sans-serif;
    }

    .navTabLink a:hover{
        border-bottom: 5px solid transparent;
        transition: border-bottom 2s ease-in-out;
    }

    .contactButton{
        text-align: end;
    }

    .contactButton a{
        text-decoration: none;
        color: black;
        font-size: 1.2em;
        font-family: 'Nunito', sans-serif;
        border: 1.5px solid black;
        border-radius: 10px;
        padding: 5px;
    }

    .contactButton a:hover{
        background-color: black;
        color: white;
    }



    .introSection{
        background-image: url(/images/intro_bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 650px;
    }

    .introText{
        padding-left: 7%;
        padding-top: 22vh;
        color: aliceblue;
    }

    .name h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 5em;
    }

    .typewriter {
        margin-top: 10px;
        font-size: 1.5rem;
        font-family: 'Playfair Display', serif;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid #333;
        animation: typewriter 5s steps(23) alternate infinite;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 30%;
        }
    }

    .quoteSection {
        padding: 10vh 5vw;
        background-color: #efefef;
        text-align: center;
    }

    .quoteContainer h1 {
        filter: drop-shadow(0 0 10px #ff6f00);
        animation: glow 2s alternate infinite;
        font-family: 'Marck Script', cursive;
        font-size: 4em;
    }

    @keyframes glow {
        0% {
            filter: drop-shadow(0 0 10px #ff6f00);
        }

        100% {
            filter: drop-shadow(0 0 25px #ff6f00);
        }
    }

    .quoteAuthor {
        margin-top: 3%;
        font-style: italic;
    }

    .aboutMeSection {
        padding: 7vh 5vw;
        background-color: #c5c2c2;
    }

    .aboutMeHeading {
        margin-bottom: 2vh;;
    }

    .aboutMeHeading h1 {
        font-family: 'Playfair Display', serif;
        font-size: 2.5em;
    }

    .aboutMe p {
        text-align: justify;
        font-family: 'Libre Franklin', sans-serif;
        line-height: 1.5;
        font-size: 1.1em;
    }

    .projectSection{
        display: flex;
        flex-direction: column;
    }

    .projectsHeader{
        margin-bottom: 2vh;
    }

    .projectsHeader h1{
        font-size: 2.5em;
        font-family: 'Playfair Display', serif;
    }

    .projectCardsSection{
        display: grid;
        grid-template-columns: auto;
        margin: 2vh 5%;
    }

    .pCards{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 5%;
    }

    .card{
        border: 1.5px solid black;
        border-radius: 10px;
        padding: 1.5%;
        margin: 0 5%
    }

    .project2{
        margin-bottom: 0;
    }

    .card h1{
        font-family: 'Playfair Display', serif;
        font-size: 1.5em;
    }

    .card img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card p{
        margin-top: 1.5%;
        font-size: 1.1em;
    }

    .card li{
        list-style: none;
        line-height: 1.5;
        text-align: justify;
        font-family: 'Libre Franklin', sans-serif;
    }

    .card button {
        padding: 7px;
        margin-top: 5%;
        background-color: white;
        border: 1.5px solid black;
        border-radius: 7px;

    }

    .card button:hover {
        background-color: black;
    }

    .card a {
        text-decoration: none;
        color: black;
    }

    .card a:hover {
        color: white;
    }

    .allProjects{
        text-align: center;
    }

    .allProjects a{
        border: 1.5px solid black;
        border-radius: 7px;
        padding: 7px;
        text-decoration: none;
        color: black;
    }

    .allProjects a:hover{
        background-color: black;
        color: white;
    }

    .skillsSection{
        background-color: #efefef;
        width: 100%;
    }

    .skillsSectionHeader{
        margin-bottom: 2vh;
    }

    .skillsSectionHeader h1{
        font-size: 2.5em;
        font-family: 'Playfair Display', serif;
    }

    .skillsCards{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .skillCard{
        width: 100%;
        margin: 5%;
    }

    .skillCard p{
        width: fit-content;
        padding: 4%;
        border: 1.5px solid black;
        border-radius: 7px;
        font-family: 'Libre Franklin', sans-serif;
    }

    .contactMeSection {
        text-align: center;
        height: 50vh;
        padding-top: 4vh;
    }

    .contactHeader h1 {
        font-size: 3.5em;
        font-family: 'Marck Script', cursive;
    }

    .contactLinks {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        justify-content: space-evenly;
        margin: 0 35%;
        margin-top: 10%;
    }

    .media img {
        width: 80%;
    }

    .copyrightText {
        text-align: center;
    }
}
/* end */
/* onmouseover="this.style.color='white';"
                onmouseout="this.style.color='black';" */