/* CSS design for small screen sizes or for phone screen sizes */
@media only screen and (max-width: 720px) {
    .navbar .navbar-section:not(:first-child){
        display: none;
    }

    .responsive-links{
        display:none;
    }

    .navbar{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .small-navbar{
        display: grid;
        grid-template-columns: auto auto;
    }

    .ham-burger{
        text-align: right;
    }
}

@media screen and (max-width: 720px) {
    .small-navbar.on{
        display: grid;
        grid-template-columns: auto auto auto;
    } 
    .responsive-links.on{
        display:flex;
        flex-direction: column;
    }
}