/* Universal Formating */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    padding: 5vh 4vw;
}

/* Design for small screen sizes*/
@media only screen and (max-width: 768px){
    .largeNavBar{
        display: none;
    }

    .smallNavbar{
        display: none;
    }

    .navBar{
        width: 100%;
        background-color: rgba(226, 226, 226, 0.3);
        display: grid;
        grid-template-columns: 30% 70%;
        padding: 2% 2%;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .logo span{
        font-size: larger;
        font-weight: bold;
    }

    .sNBhamBurger{
        right: 0;
        text-align: end;
    }

    .icon{
        color: black;
        font-size: larger;
    }

    .introSection{
        background-image: url(/images/small_bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;
    }

    .introText{
        padding-left: 10%;
        padding-top: 4vh;
        color: aliceblue;
    }

    .name h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5em;
    }

    .typewriter {
        margin-top: 10px;
        font-size: 1rem;
        font-family: 'Playfair Display', serif;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid #333;
        animation: typewriter 5s steps(23) alternate infinite;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }

        to {
            width: 50%;
        }
    }

    .quoteSection {
        padding: 10vh 5vw;
        background-color: #efefef;
        text-align: center;
    }

    .quoteContainer h1 {
        filter: drop-shadow(0 0 10px #ff6f00);
        animation: glow 2s alternate infinite;
        font-family: 'Marck Script', cursive;
        font-size: 2em;
    }

    @keyframes glow {
        0% {
            filter: drop-shadow(0 0 10px #ff6f00);
        }

        100% {
            filter: drop-shadow(0 0 25px #ff6f00);
        }
    }

    .quoteAuthor {
        margin-top: 3%;
        font-style: italic;
    }

    .aboutMeSection {
        padding: 7vh 5vw;
        background-color: #c5c2c2;
    }

    .aboutMeHeading {
        margin-bottom: 2vh;;
    }

    .aboutMeHeading h1 {
        font-family: 'Playfair Display', serif;
        font-size: 2em;
    }

    .aboutMe p {
        text-align: justify;
        font-family: 'Libre Franklin', sans-serif;
        line-height: 1.5;
    }

    .projectsHeader{
        margin-bottom: 2vh;
    }

    .projectsHeader h1{
        font-size: 2em;
        font-family: 'Playfair Display', serif;
    }

    .projectCardsSection{
        display: flex;
        flex-direction: column;
    }

    .card{
        border: 1.5px solid black;
        border-radius: 10px;
        padding: 1.5%;
        margin: 7%;
    }

    .project2{
        margin-bottom: 0;
    }

    .card h1{
        font-family: 'Playfair Display', serif;
        font-size: 1.3em;
    }

    .card img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card p{
        margin-top: 1.5%;
    }

    .card li{
        list-style: none;
        line-height: 1.5;
        text-align: justify;
        font-family: 'Libre Franklin', sans-serif;
    }

    .card button {
        padding: 7px;
        margin-top: 5%;
        background-color: white;
        border: 1.5px solid black;
        border-radius: 7px;

    }

    .card button:hover {
        background-color: black;
    }

    .card a {
        text-decoration: none;
        color: black;
    }

    .card a:hover {
        color: white;
    }

    .allProjects{
        text-align: center;
    }

    .allProjects a{
        border: 1.5px solid black;
        border-radius: 7px;
        padding: 7px;
        text-decoration: none;
        color: black;
    }

    .allProjects a:hover{
        background-color: black;
        color: white;
    }

    .skillsSection{
        background-color: #efefef;
        width: 100%;
    }

    .skillsSectionHeader{
        margin-bottom: 2vh;
    }

    .skillsSectionHeader h1{
        font-size: 2em;
        font-family: 'Playfair Display', serif;
    }

    .skillsCards{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .skillCard{
        width: 100%;
        margin: 5%;
    }

    .skillCard p{
        width: fit-content;
        padding: 5%;
        border: 1.5px solid black;
        border-radius: 7px;
        font-family: 'Libre Franklin', sans-serif;

    }

    .contactMeSection {
        text-align: center;
        height: 35vh;
    }

    .contactHeader h1 {
        font-size: 2.5em;
        font-family: 'Marck Script', cursive;
    }

    .contactLinks {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        justify-content: space-evenly;
        margin: 0 35%;
        margin-top: 10%;
    }

    .media img {
        width: 100%;
    }

    .copyrightText {
        text-align: center;
    }

}

@media only screen and (max-width: 768px){
    .smallNavbar.on{
        display: grid;
        grid-column-start: 1;
        grid-column-end: span 2;
        text-align: center;
        padding: 10px 0;
    }

    .smallNavbar.on a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-family: 'Nunito', sans-serif;
    }
}
/* end of design */

/* Design for midium screen sizes */
@media only screen and (min-width: 768px){
    
}
/* end of design */

/* Design for large screen sizes */
@media only screen and (min-width: 992px){
    
}
/* end of design */